html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
  background-color: #96857c;
  overflow-x: hidden; /* This will prevent horizontal scrolling */
}

.App {
  width: 100%;
  text-align: center;
}

header {
  background-color: #623822;
  color: #ffffff;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 20px;
  z-index: 100;
}

h1 {
  margin: 0;
  font-size: 2.5rem;
  text-align: left;
}

h2 {
  font-size: 1.7rem;
}

.banner {
  position: relative;
  width: 100%;
  height: 20%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.banner-img img {
  width: 100%;  /* Ensure the image takes up the full width of its container */
  height: auto; /* Maintain the aspect ratio */
  max-height: 250px;
  display: block;
  object-fit: cover;
}

section {
  margin: 40px 0;
}

footer {
  background-color: #623822;
  color: white;
  padding: 10px 0;
  margin-top: 40px;
}
